<div class="mainMenu">
<%= render :partial => 'layouts/admin/cms/menu', :locals => {:current => :directory} %>
</div>

<div class="contentMenu">
<%= render :partial => 'layouts/admin/cms/navi/directory', :locals => {:current => :node} %>
</div>
