@charset "UTF-8";
@import "../base/init.css";
@import "../base/style.css";
@import "../piece/style.css";

/* =========================================================
   Sitemap
========================================================= */
ul.sitemap, ul.sitemap ul {
  list-style-position: outside;
  list-style-type: none;
}
ul.sitemap ul {
  padding-left: 30px;
  background-color: #ffffff;
}
ul.sitemap li {
  line-height: 1.5;
  background-image: url(./images/ic-list.gif);
  background-position: 8px 0.7em;
  background-repeat: no-repeat;
}
ul.sitemap li a {
  padding-left: 18px;
}
ul.sitemap li.level1 {
  line-height: 2;
  margin-bottom: 15px;
  background-color: #e3f5ff;
}
ul.sitemap ul.level2 {
  padding-top: 10px;
}
.pageTop {
  margin: 0 0 20px;
  text-align: right;
}
.pageTop a {
  padding: 0 0 0 15px;
  background-image: url(./images/ic-top.gif);
  background-repeat: no-repeat;
  background-position: left center;
}