<div class="mainMenu">
<%= render :partial => 'layouts/admin/cms/menu', :locals => {:current => :data} %>
</div>

<div class="contentMenu">
<%= render :partial => 'layouts/admin/cms/navi/data', :locals => {:current => :file} %>
</div>
