<div class="mainMenu">
<%= render :partial => 'layouts/admin/cms/menu', :locals => {:current => :tool} %>
</div>

<div class="contentMenu">
<%= render :partial => 'layouts/admin/cms/navi/tool', :locals => {:current => :rebuild} %>
</div>
