<tr>
  <th><%= item.locale :show_concept_id %></th>
  <td><%= item.setting_label(:show_concept_id) %></td>
</tr><tr>
  <th><%= item.locale :show_layout_id %></th>
  <td><%= item.setting_label(:show_layout_id) %></td>
</tr>
