<%

def make_candidates(args)
  choices = []
  exists  = {}

  down = lambda do |p, i|
    next if exists[p.id]
    exists[p.id] = true

    choices << [('　　' * i) + p.name, p.unid]
    Cms::Concept.where(parent_id: p.id).order(:site_id, :sort_no).each do |c|
      down.call(c, i + 1)
    end
  end

  Cms::Concept.where(args).order(:site_id, :sort_no).each {|item| down.call(item, 0) }
  return choices
end

concepts = []
Cms::Site.published.order(:id).each do |site|
  concepts << ["// #{h(site.name)}", '']
  args  = { site_id: site.id, level_no: 1, state: 'public' }
  concepts += make_candidates(args)
end

%><p class="form">基本情報</p>

<table class="show">
  <tr>
    <th><%= @item.locale(:item_unid) %></th>
    <td><%= f.select :item_unid, concepts, :include_blank => "　", :class => 'id' %></td>
  </tr><tr>
    <th><%= @item.locale(:action) %></th>
    <td><%= f.check_boxes :in_actions, @item.action_labels, :class => 'name' %></td>
  </tr>
</table>
