@charset "UTF-8";
@import "../base/init.css";
@import "../base/style.css";
@import "../piece/style.css";

/* =========================================================
   category
========================================================= */

/* shinchaku-ichiran
----------------------------------------------- */
.contentArticleArea .latest h2 {
  height: 44px;
  line-height: 44px;
  padding-left: 10px;
  background-image: -moz-linear-gradient(left, #004bee, #001a6b);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#004bee), color-stop(100%, #001a6b));
  vertical-align: middle;
  color: #ffffff;
}
.contentArticleArea li {
  border-bottom: 1px solid #cccccc;
}
.contentArticleArea li a {
  display: block;
  height: 44px;
  line-height: 44px;
  overflow: hidden;
  padding: 0 30px 0 15px;
  background-image: url(/_common/themes/joruri/smart/piece/images/ic-kiji.png);
  background-repeat: no-repeat;
  background-position: 95% center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.contentArticleArea h3 {
  height: 44px;
  line-height: 44px;
  padding-left: 15px;
  background-color: #e3f0fa;
  color: #333333;
}
.feed {
  display: none;
}
.contentArticleArea span.attributes {
  display: none;
}

/* Area Map table
----------------------------------------------- */
.contentArticleArea dl:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.contentArticleArea dl {
  clear: both;
  display: block;
}
.contentArticleArea dl.cycle {
  background: #E8F7FA;
}
.contentArticleArea dl.ward {
  background: #003A8B;
}
.contentArticleArea dl.ward .name,
.contentArticleArea dl.ward .page,
.contentArticleArea dl.ward .zipCode,
.contentArticleArea dl.ward .address,
.contentArticleArea dl.ward .tel,
.contentArticleArea dl.ward .formal {
  color: #fff;
  font-weight: bold;
}
.contentArticleArea dl.ward dd.page a {
  color: #ffffff;
  margin: 0 10px 0 0;
  text-decoration: underline;
}
.contentArticleArea dl.city dd.page a {
  margin: 0 10px 0 0;
  text-decoration: underline;
}
.contentArticleArea dt {
  float: left;
  padding: 5px 10px;
}
.contentArticleArea dd {
  float: left;
  padding: 5px 10px;
}
.contentArticleArea dl {
  display: block;
  width: 100%;
}
.contentArticleArea dt.name {
  width: 47%;
}
.contentArticleArea dd {
  margin: 0;
}
.contentArticleArea dd.outline {
  display: none;
}
.contentArticleArea dd.page {
  width: 45%;
}
.contentArticleArea dl.unit dd.page a {
  margin: 0 10px 0 0;
  text-decoration: underline;
}
.contentArticleArea dd.email {
  width: 47%;
}
.contentArticleArea dl.unit dd.email a {
  margin: 0 10px 0 0;
  text-decoration: underline;
}
.contentArticleArea dd.tel {
  width: 45%;
}
.contentArticleArea .pageTop {
  margin:5px 0 30px;
  text-align: right;
}
.contentArticleArea .pageTop a {
  padding: 0 0 0 15px;
  background-image: url(/_common/themes/joruri/unit/images/ic-top.gif);
  background-repeat: no-repeat;
  background-position: left center;
  text-decoration: underline;
}