<div>
  <div class="h1"><%= @item.title %></div>
  <span><%= (@item.published_at || Time.now).strftime('%Y年%-m月%-d日') %></span>
</div>

<br />

<div>
<%== @body %>
</div>

<br />

<%= render :partial => 'cms/public/_partial/inquiries/view_mobile', :locals => {:item => @item} %>
