*.project
*.thumb
Gemfile.lock

config/application.yml
config/core.yml
config/database.yml
config/ldap.yml
config/smtp.yml
config/mecab/joruri.dic
log/*
public/_common/themes/joruri/
public_0*/*/*
public_0*/[a-z]*.html*
tmp/cache/assets/*
tmp/*
upload/*
app/controllers/test_controller.rb

nbproject/private/
