*.project
*.thumb
Gemfile.lock

config/application.yml
config/core.yml
config/database.yml
config/ldap.yml
config/smtp.yml
config/mecab/joruri.dic
log/*
public_0*/*/*
public_0*/[a-z]*.html*
tmp/cache/assets/*
tmp/lock/*
tmp/mails/*
tmp/pids/*
tmp/sockets/*
tmp/restart.txt
upload/*
app/controllers/test_controller.rb

nbproject/private/
