<table class="show">
  <tr>
    <th>関連ワード</th>
    <td>
      <%= f.array_text_field "in_tags[0]" %> &nbsp;
      <%= f.array_text_field "in_tags[1]" %> &nbsp;
      <%= f.array_text_field "in_tags[2]" %> &nbsp;
    </td>
  </tr>
</table>
