<div class="contentFaqSearchDocs">

<% if @nosearch %>
<div class="nosearch">検索条件を入力してください。</div>
<% else %>
<div class="hit"><span class="label">検索結果</span><span class="count"><%= "#{@docs.total_entries}" %></span><span class="unit">件</span></div>
<% end %>

<% @docs.each do |doc| %>
<div class="doc">・<%= link_to h(doc.title), doc.public_uri %></div>
<% end %>

<%= paginate @docs %>

</div>
