<div class="mainMenu">
<%= render :partial => 'layouts/admin/cms/menu', :locals => {:current => :content} %>
</div>

<div class="contentMenu">
<%= render :partial => 'layouts/admin/cms/navi/component', :locals => {:current => :content} %>
</div>

