<div class="contentArticleCategory">

<div class="categories">
  <div class="h2">■分野一覧</div>
  <% @items.each do |item| %>
  <div>・<%= link_to h(item.title), "#{item.name}/" %></div>
  <% end %>
</div>

</div>
