<p class="form">基本情報</p>

<table class="show">
  <%= piece_base_form f, :container => :tr %>
</table>

<p class="form">詳細設定</p>

<table class="show">
  <tr>
    <th><%= @item.locale :link_types %></th>
    <td><%= f.check_boxes "in_link_types", @item.link_type_options, @item.link_types_array %></td>
  </tr>
</table>

<%= creator_form f %>
