<% if @items.size > 0 %>
<ul class="mouths">
  <% @items.each do |item| %>
  <li><%= render :partial => "tourism/public/node/mouths/item", :locals => {:item => item} %></li>
  <% end %>
</ul>
<% end %>
