@charset "UTF-8";
@import "../base/style.css";
@import "../base/layouts/col-1.css";
@import "../piece/style.css";

/* =========================================================
  calendar
========================================================= */
.pagination {
  margin-top: 5px;
  text-align: center;
}
