<div class="photo">
  <p class="title"><a href="<%= item.public_uri %>"><%= item.title %></a></p>
  <% if file = item.embedded_thumbnail(:image_file_id) %>
  <a href="<%= item.public_uri %>">
    <img src="<%= public_embedded_thumbnail_path(file) %>" alt="" /></a>
  <% end %>
</div>
