<%= f.hidden_field :state, :value => "end" %>

<p class="form">廃止情報</p>

<table class="show">
  <tr>
    <th><%= @item.locale(:old_id) %></th>
    <td>
      <%= f.select_with_tree :old_id, Sys::Group.find(:all, :conditions => {:level_no => 1}, :order => :sort_no),
        :include_blank => "// 現在の部局から選択" %>
    </td>
  </tr>
</table>
