<%

return nil if item.rel_spots.size == 0

%><table class="show">
  <tr>
    <th>関連記事</th>
    <td>
      <% item.rel_spots.each do |spot| %>
      <%= spot.title %><br />
      <% end %>
    </td>
  </tr>
</table>
