<p class="form">基本情報</p>

<table class="show">
  <%= piece_base_form f, :container => :tr %>
</table>

<p class="form">詳細設定</p>

<table class="show">
  <tr>
    <th><%= @item.locale :top_label %></th>
    <td><%= f.array_text_field 'in_settings[top_label]', :class => 'name' %></td>
  </tr>
</table>

<%= creator_form f %>
