<div class="mainMenu">
<%= render :partial => 'layouts/admin/cms/menu', :locals => {:current => :content} %>
</div>

<div class="contentMenu">
<% current = defined?(current) && current ? current : :base %>
<%= link_to '投稿一覧', bbs_items_path, :class => (current == :base ? "current" : "") %>
<%= link_to '設定', bbs_content_settings_path, :class => (current == :setting ? "current" : "") if @content.editable? %>
</div>
