@charset "UTF-8";
@import "../base/style.css";
@import "../base/layouts/col-1.css";
@import "../piece/style.css";

/* =========================================================
  mayor
========================================================= */
#mayorSide {
  margin-top: 1px;
  padding: 0.5em;
  border-top: 1px solid #000099;
}
#mayorSide .pieceContainer {
  margin-bottom: 0;
}
