<div class="mainMenu">
<%= render :partial => 'layouts/admin/cms/menu', :locals => {:current => :user} %>
</div>

<div class="contentMenu">
<%= render :partial => 'layouts/admin/cms/navi/user', :locals => {:current => :ldap} %>
</div>
