@charset "UTF-8";
@import "../base/init.css";
@import "../base/style.css";
@import "../piece/style.css";

/* =========================================================
   bbs
========================================================= */
.entryForm h2 {
  line-height: 36px;
  margin-bottom: 10px;
  padding-left: 10px;
  background-color: #232f8c;
  color: #ffffff;
  font-size: 110%;
}
.entryForm dt {
  padding: 4px 10px;
  background-color: #f1f1f1;
}
.entryForm input {
  margin: 15px 10px 20px;
}
textarea.body {
  width: 85%;
  margin: 15px 10px 10px;
}
div.submitters {
  margin: 10px 0 30px;
}
.calendarEvents.calendarMonthlyEvents {
  margin-bottom: 20px;
}
#day01.date, #day02.date, #day03.date, #day04.date,
#day05.date, #day06.date, #day07.date, #day08.date,
#day09.date, #day10.date, #day11.date, #day12.date,
#day13.date, #day14.date, #day15.date, #day16.date,
#day17.date, #day18.date, #day19.date, #day20.date,
#day21.date, #day22.date, #day23.date, #day24.date,
#day25.date, #day26.date, #day27.date, #day28.date,
#day29.date, #day30.date, #day31.date {
  padding-left: 5px;
  border-top: 1px solid #cccccc;
}
.sun, .holiday {
  color: #ff0000 !important;
}
.sat {
  color: #3366ff;
}
.date .day {
  float: left;
  height: 35px;
  margin-right: 15px;
  padding: 5px 0 0 5px;
}
.events {
  float: left;
  padding-top: 5px;
}
.date:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.calendarEvents.calendarMonthlyEvents h2 {
  line-height: 40px;
  margin-bottom: 20px;
  padding-left: 5px;
  background-color: #d3e8f4;
}
.pagination.upperPagination {
  line-height: 25px;
  background-color: #f1f1f1;
}
.pagination.lowerPagination {
  line-height: 25px;
  border-top: 1px solid #cccccc;
  background-color: #f1f1f1;
}
.contentArticleEventDocs h2 {
  line-height: 35px;
  margin: 0 0 10px;
  padding: 5px 0 5px 10px;
  background-color: #e3f0fa;
  font-weight: bold;
  font-size: 130%;
}
table.calendar {
  width: 100%;
  border-top: 1px solid #666666;
}
table.calendar a {
  text-decoration: underline;
}
.calendar tr {
  line-height: 55px;
  border-bottom: 1px solid #666666;
}
.day {
  width: 25%;
  min-width: 65px;
  line-height: 1.5;
  vertical-align: middle;
  padding: 15px 0 15px 10px;
  text-align: center;
}
td.attribute.attributeEvent {
  width: 30%;
  vertical-align: middle;
  padding: 15px 10px;
}
td.attribute.attributeEvent span, p.attributeEvent {
  background-color: #ffcc00;
}
td.attribute.attributeEvent span.attribute {
  display: block;
  width: 80%;
  min-width: 110px;
  line-height: 25px;
  border: 1px solid #666666;
  text-align: center;
}
td.title {
  width: 45%;
  line-height: 1.5;
  vertical-align: middle;
  padding: 15px 0;
}
.pagination {
  line-height: 35px;
  margin-bottom: 20px;
  background-color: #f1f1f1;
  font-size: 120%;
}
.calendar li:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
* html .calendar li {
  height: 1%;
}
.calendar li {
  display: block;
  clear: both;
  padding: 0 10px 10px;
}
.calendar li:last-child {
  border-bottom: 1px solid #ccc;
}
.calendar li img {
  float: left;
  margin-right: 10px;
}
p.attribute {
  width: 130px;
  margin-left: 130px;
  text-align: center;
}