@charset "UTF-8";
@import "../base/style.css";
@import "../base/layouts/col-1.css";
@import "../piece/style.css";

/* =========================================================
   page
========================================================= */
p {
  margin-bottom: 1em;
}
.inquiry {
  margin: 10px 5px 0;
  padding: 3px 0;
  border-top: 1px solid #999999;
}
.inquiry h3 {
  font-size: small;
}
