<div id="settingContent">

<%= form_for :item, :url => {:action => :update}, :html => {:method => :put, :multipart => true, :id => 'itemForm'} do |f| %>
  
<%= error_messages_for :item %>

<%= render :partial => 'form', :locals => {:f => f} %>

<%= raw submit(:register) %>

<% end %>

</div>
