<%

@parent ||= 0
cond   = {:site_id => Core.site.id, :parent_id => 0, :level_no => 1, :state => 'public'}
root   = Cms::Concept.find(:all, :conditions => cond, :order => :sort_no)

%><p class="form">デザイン</p>

<%= form_for :item do |f| %>

<%= error_messages_for :item %>

<table class="show" >
  <tr>
    <th>対象コンセプト</th>
    <td><%= f.select_with_tree :concept_id, root, :conditions => {:state => 'public'}, :include_blank => "　" %></td>
  </tr><tr>
    <th>コンポーネント</th>
    <td>
      <input type="checkbox" name="item[target][layout]" checked="checked" /> レイアウト<br />
      <input type="checkbox" name="item[target][piece]" checked="checked" /> ピース<br />
    </td>
  </tr>
</table>

<div class="submitters">
  <input type="submit" value="エクスポート" />
</div>

<% end %>
