<div class="contentArticleAttribute">

<div class="attributes">
  <% for item in @items %>
  <div class="attribute attribute<%= item.name.camelize %>">
    <h2><%= link_to h(item.title), "#{item.name}/" %></h2>
    <div class="explain"><%= item.title %>に関する情報を掲載しています。</div>
  </div>
  <% end %>
</div>

</div>
