@charset "UTF-8";
@import "../base/init.css";
@import "../base/style.css";
@import "../piece/style.css";

/* =========================================================
   category
========================================================= */

/* shinchaku-ichiran
----------------------------------------------- */
.contentArticleUnit .latest h2 {
  height: 44px;
  line-height: 44px;
  padding-left: 25px;
  background-color: #00349a;
  background-image: url(/_common/themes/joruri/smart/piece/images/ic-border.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #ffffff;
}
.contentArticleUnit li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #cccccc;
}
.contentArticleUnit li a {
  display: block;
  height: 44px;
  line-height: 44px;
  overflow: hidden;
  padding: 0 30px 0 15px;
  background-image: url(/_common/themes/joruri/smart/piece/images/ic-kiji.png);
  background-repeat: no-repeat;
  background-position: 95% center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.contentArticleUnit h3 {
  height: 44px;
  line-height: 44px;
  padding-left: 15px;
  background-color: #e3f0fa;
  color: #333333;
}
.feed {
  display: none;
}
.contentArticleUnit span.attributes {
  display: none;
}

/* Soshiki Ichiran
----------------------------------------------- */
.contentArticleUnit dl:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.contentArticleUnit dl {
  clear: both;
  display: block;
}
.contentArticleUnit dl.cycle {
  background: #E8F7FA;
}
.contentArticleUnit dl.department {
  background: #003A8B;
}
.contentArticleUnit dl.department .name,
.contentArticleUnit dl.department .email,
.contentArticleUnit dl.department .tel {
  color: #fff;
  font-weight: bold;
}
.contentArticleUnit dl.department dd.page a {
  color: #ffffff;
  margin: 0 10px 0 0;
  text-decoration: underline;
}
.contentArticleUnit dt {
  float: left;
  padding: 5px 10px;
}
.contentArticleUnit dd {
  float: left;
  padding: 5px 10px;
}
.contentArticleUnit dl {
  display: block;
  width: 100%;
}
.contentArticleUnit dt.name {
  width: 47%;
}
.contentArticleUnit dd {
  margin: 0;
}
.contentArticleUnit dd.outline {
  display: none;
}
.contentArticleUnit dd.page {
  width: 45%;
}
.contentArticleUnit dl.unit dd.page a {
  margin: 0 10px 0 0;
  text-decoration: underline;
}
.contentArticleUnit dd.email {
  width: 47%;
}
.contentArticleUnit dl.unit dd.email a {
  margin: 0 10px 0 0;
  text-decoration: underline;
}
.contentArticleUnit dd.tel {
  width: 45%;
}
.contentArticleUnit .pageTop {
  margin:5px 0 30px;
  text-align: right;
}
.contentArticleUnit .pageTop a {
  padding: 0 0 0 15px;
  background-image: url(/_common/themes/joruri/unit/images/ic-top.gif);
  background-repeat: no-repeat;
  background-position: left center;
  text-decoration: underline;
}


