<div class="mainMenu">
<%= render :partial => 'layouts/admin/cms/menu', :locals => {:current => :site} %>
</div>

<div class="contentMenu">
<%= render :partial => 'layouts/admin/cms/navi/site', :locals => {:current => :domain} %>
</div>
