@charset "UTF-8";
@import "../base/init.css";
@import "../base/style.css";
@import "../piece/style.css";

/* =========================================================
   Enquete
========================================================= */

/* Confirm
----------------------------------------------- */
.confirmMessage {
  margin-bottom: 30px;
  font-size: 120%;
  text-align: center;
}

/* Index : enqueteForms
----------------------------------------------- */
.enqueteForms .form,
.enqueteForm .form {
  margin-bottom: 10px;
}
.enqueteForms .form .summary,
.enqueteForm .form .body {
  padding: 10px 10px 5px;
  border-top: 1px solid #dddddd;
}
.enqueteForms .form h2,
.enqueteForm .form h2 {
  padding: 0 10px;
  height: 44px;
  line-height: 43px;
  background-color: #232f8c;
  color: #ffffff;
  font-size: 120%;
}
.enqueteForms .form h2 a,
.enqueteForm .form h2 a {
  text-decoration: underline;
}

/* Show : enqueteForm
----------------------------------------------- */
.enqueteForm .columns {
  margin: 20px 0;
}
.enqueteForm .column {
  margin: 10px 0 20px;
}
.enqueteForm .column .body {
  margin: 10px 15px 0;
}
.enqueteForm .column .field {
  margin: 10px 15px 0;
}
.enqueteForm .column .name {
  padding: 4px 8px;
  background-color: #f1f1f1;
}
.enqueteForm .submitters {
  margin: 0px;
  padding: 10px 0;
  background-color: #d8ebf8;
  text-align: center;
}
.enqueteForm .errorExplanation {
  color: #ff0000;
}
.enqueteForm .back {
  display: none;
}
.form .name a {
  color: #ffffff;
}
.enqueteForm .column .name .required {
  color: #ff0000;
}
.radioButton,
.checkBox {
  line-height: 2.5;
}
input[type="text"] {
  padding: 3px 0 3px 3px;
}
input[type="radio"],
input[type="checkBox"]  {
  position: relative;
  top: -5px;
  margin-right: 5px;
}
.textField,
.textArea {
  width: 100% !important;
}

/* Sent : enqueteSent
----------------------------------------------- */
.enqueteSent .message {
  margin: 60px 0px;
}
.enqueteSent .back {
  display: none;
}
