@charset "UTF-8";
@import "../base/init.css";
@import "../base/style.css";
@import "../piece/style.css";

/* =========================================================
   calender
========================================================= */

/* main
----------------------------------------------- */
.calendarEvents {
  float: left;
  width: 99%;
  margin-bottom: 20px;
}
h2 {
  font-size: 130%;
}
.upperPagination {
  background-color: #ededed;
}
.date {
  border-top: 1px solid #cccccc;
}
.date {
  display: block;
  min-height: 1px;
}
* html .date {
  height: 1%;
}
.date:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.date .day {
  float: left;
  width: 8em;
  height: 35px;
  margin-right: 15px;
  padding-top: 5px;
  padding-left: 5px;
}
.sat {
  color: #3366ff;
}
.sun,
.holiday {
  color: #ff0000;
}
.events {
  float: left;
  padding-top: 5px;
}
.events li {
  padding-bottom: 5px;
}
.pagination {
  clear: both;
  line-height: 23px;
  padding-right: 5px;
  text-align: right;
}
.typeEventList {
  float: none;
  padding-top: 0;
}
.typeEventList li:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
* html .typeEventList li {
  height: 1%;
}
.typeEventList li {
  display: block;
  clear: both;
  min-height: 90px;
}
.typeEventList .event {
  padding-bottom: 10px;
}
.typeEventList .date {
  margin-bottom: 5px;
  padding-top: 10px;
}
.typeEventList .title {
  margin-bottom: 5px;
}
.info .thumb {
  float: left;
  margin-right: 10px;
}
/* sidemenu
----------------------------------------------- */
#menu .pieceHeader {
  background-repeat: repeat-y;
}
#menu ul {
  padding: 0 0 5px;
  background-color: #ffffff;
}
#menu li {
  width: 170px;
  padding: 0;
  background-image: none;
}
#menu li a {
  height: 25px;
  line-height: 25px;
}
#menu li .month {
  display: block;
  padding: 0 0 0 20px;
  background-color: #ffffff;
  background-image: url("./images/ic-list.gif");
  background-repeat: no-repeat;
  background-position: 10px 0.7em;
}
#menu li .year {
  display: block;
  width: 160px;
  padding-left: 10px;
  background-color: #d3e8f4;
}
#menu li .year:hover ,
#menu li .month:hover {
  background-color: #ffff72;
}
#menu li .month12 {
  height: 25px;
  line-height: 25px;
  margin-bottom: 5px;
}
